<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css
    ">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Cookie Orders</h1>
        <div class="container d-flex justify-content-between">
            <h4>All Orders</h4>
            <a href="/coookies/new">+ New Order</a>
        </div>
        <br>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <td>Customer Name</td>
                    <td>Cookie Type</td>
                    <td>Number of Boxes</td>
                    <td>Actions</a></td>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{order.customer_name}}</td>
                        <td>{{order.cookie_type}}</td>
                        <td>{{order.num_of_boxes}}</td>
                        <td><a href="/edit/{{order.id}}">edit</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>