.main-container {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    border: 2px solid Black;
    align-items: start;
    justify-content: space-around;
}

.topbar {
    background-color: black;
    width: 100%;
    border-bottom: 3px solid red;
    align-items: center;
    color: white;
    display: flex;
}

.left-section {
    padding-left: 100px;
    width: 70%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.unolist {
    display: flex;
    gap: 18px;
    list-style-type: none;
}


.liitem a {
    text-decoration: none;
    color: white;
    font-size: large;
}

.btn {
    width: 100px;
    height: 30px;
    font-size: large;
    background-color: #00a2b6;
    color: white;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bottom-section  {
    display: flex; 
    width: 90%;
}

.user-profile {
    display: flex;
    /* background-color: blanchedalmond; */
    margin-top: 50px;
    margin-left: 100px;
    height: 400px;
    border: 2px solid gray;
    flex: 2;
    flex-direction: column;
    overflow: hidden;
}

.display-card {
    background: #00a2b6;
    height: 80px;
    width: 100%;
    margin-bottom: 50px;
    padding-left: 25px;
}

.display-card img{
    border-radius: 50%;
    margin: 10px;
    padding: 5px;
    background-color: white;
}

.connections {
    display: flex;
    background-color: blanchedalmond;
    margin-top: 50px;
    margin-left: 25px;
    width: 450px;
    height: 400px;
    border: 2px solid gray;
    flex: 1;
}

.user-profile h1, .user-profile h3, .user-profile p, .user-profile tx {
    padding-left: 20px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.icon {
    width: 12px;
}

.education {
    border: 2px red solid;
}