* {
    margin: auto;
    padding: 0;
}

.outer-container {
    background-color: peachpuff;
    width: 900px;
    height: 900px;
}

.text-header, .text-smheader {
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-header {
    font-size: xx-large;
}

.inner-flex {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px black 2px;
}

.feedback {
    width: 200px;
    height: 100px;
    background-color: rebeccapurple;
    text-align: center;
}

.inputform, .btn {
    margin-top: 10px;
}