p {
    background-color: grey;
    color: cyan;

    text-align: right;
    text-align: left;
    text-align: center;

    text-decoration: underline;
    text-decoration: line-through;
    text-decoration: none;

    font-style: italic;
    font-style: normal;

    /* font-weight: normal; */
    font-weight: light;
    font-weight: bold;
    font-weight: 500;

    font-family: cursive;

}